/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');

* {
    outline: 1px dotted black;
}

#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}